

body{
	background-color: #fc4445;
	min-height: 1000px;

}

.daheadfont, .errors_pass{
	font-family: 'Roboto Slab', serif;
}

h1{
	font-size: 7em;
}

h2{
	font-size:2em;
}


@media screen and (max-width: 500px){
	h1{
		font-size: 4em;
	}
	h2{
		font-size:1em;
	}
}

h3{
	font-weight: bold;
}


.splatter_backer{
	background-color: #3feee6;
}



.button, .form_text {
    background-color: #55bcc9;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

}

.form_text {
	width: 99%;
	padding: 15px;
}

.button:hover{
    background-color: #3feee6;
		cursor:pointer;
}

.errors_pass{
	color:white;
	font-weight: bold;
	font-size: 2.5em;
	width: 100%;

}

.unstyled{
	list-style: none;
}

.splat_text{
	font-size: 1.5em;
	color:white;

}

#logout{
	z-index: 99;
	position: fixed;
	bottom: 15px;
	right: 15px;
	padding: 2px 8px 5px 8px;

	background-color: #55bcc9;
	font-size: 1.2em;
}

#logout:hover{
	text-decoration: underline;
}

a{
	color:#3feee6;
	text-decoration: none;
}
a:hover{
	color:#97caef;
	text-decoration: underline;
}
a:active{
	color:#97caef;
	text-decoration: underline;
}
a:visited{
	color:#97caef;
}

a.head_link{
	color:black;
}
a.head_link:hover{
	color:black;
	text-decoration: underline;
}
a.head_link:active{
	color:black;
	text-decoration: underline;
}
a.head_link:visited{
	color:black;
}

.profile-pic-main{
	width: 250px;
	height: 250px;
}

.profile-pic-small{
	width: 50px;
	height: 50px;
}

a.logout{
	color: #fc4445;
}

.splat_text{
	overflow-wrap: break-word;
}

.follow, .unfollow{
	margin-top: 10px;
	padding:4px;
	display: inline-block;
	color:#fc4445;
	background-color: #55bcc9;
	border:none;
}

.liker, .unliker{
	margin-left: 10px;
	color: #55bcc9;

}

.liker:hover,.unliker:hover{
	color:#97caef;
	text-decoration: underline;
	cursor: pointer;
}

.follow:hover, .unfollow:hover{
	color:#fc4445;
	text-decoration: underline;
	cursor: pointer;
}

hr{
	border-color: #ba103b;
}

.time_show{
	color: white;
}

.user-splat:hover{
	cursor:pointer;
}

.user-popup-visible{
	z-index: 99;
	width: 200px;
	height: 200px;
	background-color: white;
	position: fixed;
}

.hider{
	display: none;
}
